#slideToggle {
    margin-left: 47%;
}
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    margin: 0 auto;
}
.header-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-bg {
    background: url("../images/header-bg.jpeg") no-repeat fixed center / cover;
}
.header-block-content {
    padding-top: 130px;
    padding-bottom: 130px;
}
.header-logo {
    background: rgb(29, 33, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-image {
    background: url("../images/logo-img.png") no-repeat rgb(25, 29, 32) center center;
    width: 70px;
    height: 70px;
}
.logo-text {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
}
.header-menu{
    display: flex;
    justify-content: center;
}
.header-menu-item {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    text-transform: uppercase;
}
.search {
    width: 68px;
    height: 70px;
    background-color: rgb(25, 29, 32);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-search {
    color: white;
}

.header-block-title {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}
.header-btn-block {
    margin-top: 50px;
    text-align: center;
}
.header-btn {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
.header-btn-green {
    background-color: rgb(138, 203, 98);
    padding: 20px;
    margin-right: 20px;
}
.header-btn-blue {
    background-color: rgb(12, 187, 214);
    padding: 20px 32px;
}
.block-title {
    font-family: 'Open Sans', sans-serif;
    color:  #18b4cf;
    font-size: 27px;
    font-weight: 700;
    padding: 52px 0;
    text-transform: uppercase;
}
.block-posts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.block-posts-bg {
    background-color: rgb(242, 242, 242);
}
.content-images {
    max-height: 836px;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 50px;
    align-content: center;
}
.content-images-item {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
    background-color: white;
    margin-bottom: 20px;
    margin-right: 20px;

}

.content-images-title {
    font-family: 'Open Sans', sans-serif;
    color:  #35393d;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 15px 10px;
}
.block-parallax {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

}
.block-parallax-bg {
    background: url("../images/parallax-bg.jpeg") no-repeat fixed center /cover;
}
.block-parallax-content{
    padding: 200px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 55px;

}
.block-parallax-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 70px;
    align-items: center;
}
.block-parallax-title {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 70px;
    position: relative;

}
.block-parallax-title::after {
    content: '';
    width: 80px;
    height: 7px;
    background-color: rgb(22, 156, 180);
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 500px;
}

.block-narrow{
    text-align: center;

}
.block-narrow-title {
    grid-column: 1 / 8;
}
.block-narrow-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    grid-template-rows: 1fr;
    grid-gap: 0;
}
.block-narrow-content-img {
    width: 100%;
}

.posts-news {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
.posts-news-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 421px 421px 259px;
    grid-row-gap: 42px;
    grid-column-gap: 60px;
    grid-template-areas:
            "post-1 post-1 post-1 post-2"
            "post-3 post-3 post-4 post-4"
            "post-5 post-5 post-6 post-6"
            "post-7 post-8 post-8 post-8";
    padding-bottom: 71px;
}
.post-title {
    font-family: 'Open Sans', sans-serif;
    color:  #35393d;
    font-size: 19px;
    font-weight: 700;
    justify-self: end;
    align-self: center;
    padding: 15px 30px;

}
.post-title-wide {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:  #35393d;
    font-size: 19px;
    font-weight: 700;
    padding: 15px;
}
.post-text {
    font-family: 'Open Sans', sans-serif;
    color:  #5b6469;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    padding: 0 30px 30px 30px;
    align-self: start;

}
.post-top-left {
    grid-area: post-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    background-color: rgb(249, 247, 247);
}
.post-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 82px auto;
}
.post-top-right {
    grid-area: post-2;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}

.post-first-column-middle {
    grid-area: post-3;
    display: grid;
    background-color: rgb(249, 247, 247);
}
.post-second-column-middle {
    grid-area: post-4;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}
.post-first-column-middle-dowm {
    grid-area: post-5;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
}
.post-second-column-middle-dowm {
    grid-area: post-6;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}
.post-down-left {
    grid-area: post-7;
    background-color: rgb(249, 247, 247);

}
.post-down-right {
    grid-area: post-8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    background-color: rgb(249, 247, 247);
    justify-self: end;
}
.footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.footer-bg {
    background-color: rgb(29, 33, 36);
}
.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    justify-content: center;
    padding: 25px 0;
}
.footer-text {
    font-family: 'Open Sans',sans-serif;
    color:  #ffffff;
    font-size: 13px;
}
.footer-logo {
    justify-self: end;

}
